html, body {
    padding: 0px;
    margin: 0px;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #7d97ad;
    padding: 5px;
}

.logo {
    border-top: 3px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 130px;
    height:100px; 
    overflow: hidden;
    font-size: 100%
}
.menu{
    text-align: end;
    font-size:20px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.nav-list {
    float: left;
}
li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.middle {
    text-align: center;
    padding: 20px;
    background-color: #c9d1d8;
}

.form {
    display: flex;
    flex-direction: column;      
}

.text-box {
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#button {
    border-radius: 12px;
    background-color: rgb(34, 115, 236);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 2px;
    cursor: pointer;
    max-width: 100px;
    text-transform: uppercase;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.bottom-text {
    width: 60%;
}

.form {
    width: 30%;
    margin-top: 30px;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #7d97ad;
    padding: 10px;
    margin-top: 15px;
 }
 .nav-footer{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
@media screen and (max-width: 600px) {
        .header {
            flex-direction: column;
        }
    
        div h3 {
            text-align: left;
        }
    
        .bottom-text {
            width: 100%;
        }
    
        .form {
            width: 100%;
        }
    
        .footer {
            display: block;
        }
    }