html, body {
    padding: 0px;
    margin: 0px;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #7d97ad;
    padding: 5px;
}

.logo {
    border-top: 3px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 130px;
    height:100px; 
    overflow: hidden;
    font-size: 100%
}
.menu{
    text-align: end;
    font-size:20px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
li {
    float: left;
}
li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.flex-container1{
    display: flex;
    max-width: 1160px;
    margin:auto;
    padding: 20px;
    flex-direction: column;
    background-color: #c9d1d8;
}
.text{
    text-align: center;
}
.text h3{
    font-weight: lighter;
}
.buttons{
    text-align: center;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.button{
    text-align: center;
    border: none;
    background-color: rgb(34, 115, 236);
    color: beige;
    text-decoration: none;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius: 15px;
}
.flex-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    max-width: 1160px;
    margin:auto;
    padding: 20px;
    
}
.flex-item { 
    display: flex; 
    flex-direction: column; 
    width: 375px;
    margin: 5px;

}
.flex-item img{
    width: 100%;
    border-radius: 15px;
}

.flex-item h3{
        font-weight: normal; 
        margin: 10px 0; 
        display: block; 
        text-align: left; 
        width: 100%;
}
.flex-item p{
    font-weight: lighter;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #7d97ad;
    padding: 10px;
    margin-top: 15px;
 }
 .nav-footer{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
 }
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    div h3 {
        text-align: left;
    }

    .bottom-text {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .footer {
        display: block;
    }
}
@media screen and (max-width: 450px) {
 .flex-container{
     flex-direction: column;
 }
 .flex-item{
    width: 80%;
    margin:auto;
  }
 }